.fianlp1{
    font-size: medium;
}
.pay3{
    width: 95%;
    /* height: 80%; */
    border: 0.0625rem solid #c9ccd3;
    border-radius: 3px;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    font-family: "BlenderPro","Helvetica","Arial",sans-serif;
   
}
.pay33{
    height: auto !important;

}
.pay3 #rad{
    margin-right: 10px;
}
.float{
    float: right;
   
}
.float img{
    width: 150px;

}
.fianlp2{
    font-size: 16px;
   
}
.fianlp3{
    font-size: 12px;
}

.pay3 table {
    width: 100%;
    font-size: 1.6rem;
    border-collapse: separate;
    border-spacing: 0px 8px;

}
.pay3 table td {
    padding: 0 3px 0 3px;

}
.pay3 table td label {
   float: right;
    
}

.pay3 table td input {
    width: 100%;
    border: 0.0625rem solid rgb(222, 225, 231);;
    
    font-size: small;
    height: 3rem;
     
 }
 .pay3 table td select {
    width: 100%;
    border: 0.0625rem solid rgb(222, 225, 231);;
    font-size: small;
    height: 3rem;
     
 }

.pay3 table tr > td:first-child{
    width: 23%;

}
input::-webkit-inner-spin-button {  /* for input numbere */
    -webkit-appearance: none;
    margin: 0;
  }

  #select2 {
    display: flex;
    justify-content: space-between;
  }

  #select2 select{
    width: 49% !important;
  }
