.mem{
    width: 270px;

}
.mem1{
  width: 135px;

}
.title{
    font-size: 17px;
    font-weight:500;
}
.required{
    color: red;
}
html::-webkit-scrollbar {
   display: none;
}
/* #remq{
    display: none;
    color: red;
} */

.nav .nav-item  a {
   
   font-weight: bold;
}
 
/* img{
    max-width:180px;
  }
  input[type=file]{
  padding:10px;
  background:#2d2d2d;} */

  #btnImage{
    background-color: rgb(39, 55, 83);
    color: white;
    border: 1px solid rgb(61, 52, 52);
  }

  .sub{
    justify-content: center; text-align: center;
  }

  .sub .button {
    
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  /* datalist #brand {
  
    max-height: 270px;
    border: 0 none;
    overflow-x: hidden;
    overflow-y: auto;
  } */


  .recent-grid {
    width: 100%;
    height: 50rem;

}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color:white !important;
  background-color:   #928f8f!important;/*rgba(214, 76, 76, 0.5)*/
}
.nav-link{
  color: rgb(69, 113, 180)!important;
}
