






/* Don't touch anything below!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!11*/





/* start default seting*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {

    --green: #ada8a8 ; /* رمادي */ /*#45adf3*/                       /* 8ayaret*/
  
    --dark-color: rgba(240, 10, 10, 0.5); /*hover */
  
    --black: rgb(58, 56, 56); /* for the title */ /* rgb(46, 25, 46); */            /* 8ayaret*/
    
    --light-color: rgb(58, 56, 56); /*للكتابة */

    /* <span style="color: rgb(179, 10, 10) ; font-weight: bold;  ">2</span>*/ 



    --border: .1rem solid rgba(0, 0, 0, .1); 
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

*:hover{

    text-decoration-line: none !important; 
}








* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
    



}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}

/* test*/

.flex-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
    padding: 0 9%;



}

.flex-nav>div {

    font-size: 1.1rem;

    text-align: center;


}

#loc{
    color: black;
}
#hov a:hover{
    color: var(--dark-color);
}


/*  end test*/

/* start header css*/


.header .header-1 {
    background: #fff;
    padding: 1.5rem 9% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);

}

.header .header-1 .logo i {

    color: var(--green);

}

.header .header-1 .search-form {

    width: 50rem;
    /* 50 */
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10rem;
    /* .5 */
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}



.header .header-1 .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover {

    color: var(--dark-color);
    cursor: pointer;
 

}









.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;

}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--dark-color);

}

#search-btn {
    display: none;
}

/* header 2 start of navbar*/

.header .header-2 {
    background: var(--green);
    padding: 0 5rem 0 0rem;
    /* ana zedta*/



}

.header .header-2 .navbare {
    text-align: right;
    /* ana zedta by default center*/

}

.header .header-2 .navbare a {
    color: #FFF;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbare a:hover {
    background: var(--dark-color);
    padding-left: 35px;
    padding-right: 35px;
}

/* test 
 .header .header-2 img{
   
 width: 10%;
 height: 10%;
 }

  /* test */

/* strt  css jS */

.header .header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    
}




.bottom-navbare {
    text-align: center;
    background: var(--green);
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    /* top 90 , or bottom 0 , or top 150 px bottom 0  or 80px for word */
    z-index: 1000;
    display: none;

}

.bottom-navbare a {
    font-size: 1.5rem;
    /* 2 */
    padding: .5rem;
    color: #fff;


}

.bottom-navbare a:hover {
    background: var(--dark-color);
    padding: 0 20px 0 20px;


}

/*start footer*/

#foot {
    height: 1px;
    background-color: rgb(61, 34, 34);
    border: none;
}

.fotImage {
    color: var(--black);
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;

}

.footer{
    padding: 2rem  2.2rem;
}

.footer .box{
    padding: 0rem  2rem;

}

.footer .box-container .box h3 {
    font-size: 2.3rem;
    color: var(--black);
    padding: 1rem 0;

}

.footer .box-container .box .sm {
   
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    color: var(--black);
    padding-right: .5rem;
    font-size: 5rem;
}


.footer .box-container .box a:hover {
    color: var(--dark-color);
    margin-left: .5rem;
    text-transform:uppercase;
    font-weight: bold;
}
.footer .box-container .box .pay{
    width: 100%;
}

.footer .credit{
    text-align: center;
    border-top: var(--border);
    margin-top: 1rem;
    padding:0 1rem;
    padding-top:1.5rem;
    font-size: 100%;
    color: var(--light-color);
}




/* principal div*/

.principal {
    width: 100%;
    color:var(--light-color);
}
























/*media qu*/

@media (max-width:768px) {


    .header .header-2 {
        display: none;

    }

    #search-btn {
        display: inline-block;

    }

    .header .header-1 {
        box-shadow: var(--box-shadow);
        position: relative;

    }

    .header .header-1 .search-form {
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);

    }

    .header .header-1 .search-form.active {

        top: 118%;
        z-index: 10002;
        /* ana zedta */


    }

    .bottom-navbare {
        display: block;
    }

    .plein {
        /* ana zedta */
        display: inline;
    }

}

@media (max-width:991px) {

    html {
        font-size: 55%;

    }

    .header .header-1 {
        padding: 2rem;
    }

}